<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Happy BirthDay</title>
    <style>
        h1{
            color: #45a049;
        }
        .border{
            width: 200px;
            height: auto;
            border: 2px solid #000000;
        }
    </style>
</head>
<body>
    <h1>Happy BirthDay <span th:text="${name}"></span></h1>
    <div class="border">
    
    </div>
    <p>Chúc bạn mạnh khỏe thành công và hạnh phúc </p>
    <p>Thân(Best Regard!)</p>
    <p>4BOOST</p>
</body>
<script src=""></script>
</html>